body{
    position: relative;
}
.caption {
    position: relative;
    display: block;
    font-family: 'Arima Madurai', cursive;
    font-size: 14px;
    font-style: italic;
    top: 80%;
    width: 45%;
    color: green;
  
}
h1{
    font-family: 'Slabo 27px', serif;
}
#title{
    color:teal;
}
.jumbotron{
    background-color: azure;
    margin-bottom: 0px;
}

h2{
    text-align:center;
    color:teal;
    margin-top: 45px;
}
p{
    text-align: justify;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}
.navbar{;
    background-color: teal;
}

.navbar a{;
    color: azure;
    text-align: center;
}
#skills, #hobbies{
    background-color: azure;
}
.pythonlogo{
    width:200px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
}
.javalogo{
    width:220px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
}
.htmllogo{
    width:340px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    background-color: teal;
    margin-top: 25px;
    margin-bottom: 25px;
}
.copyright{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
.footer{
    background-color: teal;
}
.menu-logo, .copyright{
    color:white;
}
.github, .facebook, .twitter, .mail{
    margin:auto 0;
    padding: 0 0 0 0 ;;
    margin-top: 11px;
    color: white;
    justify-content: center;
}
.list-inline{
    margin: auto 0;
    margin-left: 25px;
}
.carousel-image{
    width:45em;
    height:30em;
}
.starting-image{
    margin-top: 25px;
    margin-bottom: 15px;    
}
.rounded-circle{
    border: solid teal 2px;
}
#hobbies > .container{
    margin-bottom: 25px; 
}
.modal-title{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: teal;
}
.dot {
  height: 8em;
  width: 8em;
  background-color: lawngreen;
  border-radius: 50%;
  display: inline-block;
}
.punctuation{
    color: white;
    text-align: center;
    font-size: 2em;
    position: relative;
    top: 0.5em; 
}
.modal-descripcion{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}
#modal-image{
    margin-top: 10px;
}
#myModal{
    overflow: scroll;
}
.experience-image{
    width: 125px;
    height: 140px;
    border-width: medium;
}
#experience .row{
    margin-top: 40px;
    margin-bottom: 40px;
}
#experience p{
    margin-top: 20px;
    margin-bottom: 40px;
}
.javascriptlogo{
    width:220px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
}
.sqllogo{
    width:220px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
}
#twitter-icon, #facebook-icon, #github-icon  {
    color: white;
}
#imagen-portada{
    height: 45%;
    width: 45%;
}